

$fs-xx-lrg: 2.25em;
$fs-x-lrg: 1.75em;
$fs-lrg: 1.5em;
$fs-xxx-med: 1.25em;
$fs-xx-med: 1.125em;
$fs-x-med: 1em;
$fs-med: 0.875em;
$fs-x-sm: 0.75em;
$fs-sm: 0.6875em;



// Grayscale fills
$background-primary: #18BC9C;
$background-secondary: #F2F2F2;
$separator: #E6E5E3;
$inactive: #757574;
$font-primary: #ee5253;
$font-secondary: #F2F2F2;