@font-face {
    font-family: "SourceSansPro";
    src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SourceSansPro";
    src: url("/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

@import './variables';
@import './mixins';

ul {
    list-style-type: none;
}